body{
  background-color: black;
  color: white;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
}
button{
  border: none;
  padding: 20px 25px;
  border-radius: 50%;
  font-size: larger;
  color: white;
  background-color: rgb(60, 60, 60);
  text-align: center;
}
.op{
  background-color: rgb(255, 176, 29);
}
#clea{
  padding: 20px 12px;
}
.print{
  font-size: 35px;
}